extends ../layout

block content

    h2 Administracion de Agendas
    div
        table.table.table-striped.table-hover
            thead
                tr
                    th Paciente
                    th Fecha
                    th Hora
                    th Estado
                    th Accion
            tbody
            each turno in turnos
                tr
                    td #{turno.nombre_paciente}
                    td #{turno.fecha}
                    td #{turno.hora}
                    td #{turno.estado}
                    td 
                        a(href=`/consultas/iniciar/${turno.id_turno}` class="btn btn-primary") Iniciar Atención