extends ../layout
block head_adicional
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    link(href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet")
block content
    h2 Consulta #{iniciador.id_consulta}
    div
        a.btn.btn-warning(href=`/consultas/hce?dni_paciente=${dni_paciente}`) Ver HCE
    div.border.w-75.p-4.bg-secondary.rounded-1
        form(action="./cargar" method="POST")
        div#evolucion.bg-light.h-25.text-dark
            ul
                each plantilla in medico.plantillas
                    li
                        button(type="button" onclick="cargarPlantilla(this)")
                            =plantilla.nombre
                        p
                            =plantilla.descripcion
                        input(type="hidden" value=plantilla.plantilla)
            //label.form-label Evolución
            //textarea#evolucion-text.form-control.form-control-lg
            div#evolucion-text
        hr
        div#diagnosticos
            label.form-label Diagnosticos
            div#diagnosticos-container
               <!-- div.diagnostico-info.d-flex.flex-row
                    textarea.form-control
                    div#estados-diagnosticos.form-check
                        each estado in estados_de_diagnosticos
                            div
                                label.form-check-label(for="estado-diagnostico") #{estado.descripcion}
                                input.form-check-input(type="radio" name="estado-diagnostico" id_estado=estado.id_estado)
                    button#remover_antecedente.btn.btn-danger.h-25.m-3(type="button" onclick="removerAntecedente(this)") - -->
            button#agregar-diagnostico.btn.btn-primary(type="button") +
        hr
        div.d-flex.flex-column.align-items-center
            button.btn.btn-light.m-3.fs-5(type="button" data-toggle="collapse" data-target=`#collapse-opcionales` aria-expanded="false" aria-controls=`collapse-opcionales`) Datos opcionales
            div.border.w-100.p-3.m-3.collapse(id=`collapse-opcionales`)
                div#alergias.d-flex
                    div#carga_alergias
                        label.form-label Alergias
                        select#alergia.form-select.w-auto
                            option(value="" disabled selected) Seleccione una Alergia
                            each alergia in alergias
                                option(value=alergia.id_alergia) #{alergia.nomenclatura}
                                
                        select#importancia.form-select.w-auto.mt-2
                            option(value="" disabled selected) Seleccione una Importancia
                            each importancia in importancias_de_alergias
                                option(value=importancia.id_importancia) #{importancia.descripcion}

                        div.d-flex
                            div.d-flex.flex-column.align-items-center
                                label.form-label inicio
                                input#alergia-inicio.form-control.w-auto(type="date")
                            div.d-flex.flex-column.align-items-center
                                label.form-label fin
                                input#alergia-fin.form-control.w-auto(type="date")
                        button#agregar_alergia.btn.btn-success.m-3(type="button") agregar
                    div#alergias-seleccionadas.border.m-1.mx-3.px-2.w-50.rounded-3
                        p alergias seleccionadas
                hr
                div#antecedentesa
                    div#antecedentes-container
                        label.form-label Antecedentes
                        //textarea.form-control.w-50.mb-3
                    button#nuevo_antecedente.btn.btn-primary(type="button") +
                hr
                div#habitos
                    div#habitos-container
                        label.form-label Habitos
                    button#nuevo_habito.btn.btn-primary(type="button") +
                hr
                div#medicamentos
                    div#medicamentos-container
                        label.form-label Medicamentos
                    button#nuevo_medicamento.btn.btn-primary(type="button") +
        button.btn.btn-primary(onclick=`finalizarConsulta(${iniciador.id_consulta})`) finalizar
    script(src="../../javascripts/script.js")
    script(src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js")
    script.
        const quill = new Quill('#evolucion-text', {
        theme: 'snow'
        });
    include estructura_hce