extends ../layout
block head_adicional
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
block content
    h2 HCE
    div.h-100.w-100.d-flex.flex-column.align-items-center
        each consulta in consultas
            button.btn.btn-secondary.w-75.pt-4.pb-4.m-3.fs-3(type="button" data-toggle="collapse" data-target=`#collapse${consulta.id_consulta}` aria-expanded="false" aria-controls=`collapse${consulta.id_consulta}`) Consulta del #{consulta.fecha_consulta} <br> #{consulta.motivo}
            div.border.w-75.p-3.m-3.collapse(id=`collapse${consulta.id_consulta}`)
                h3.text-center Fecha: #{consulta.fecha_consulta}
                hr
                h3.text-center Motivo #{consulta.motivo}
                hr
                h3.text-center Evolucion 
                p #{consulta.evolucion}
                hr
                div
                    h3.text-center diagnosticos
                    each diagnostico in consulta.diagnosticos
                        p #{diagnostico.descripcion}
                        p Estado: #{diagnostico.id_estado_fk}
                    else
                        p no se registraron diagnosticos
                hr
                if consulta.alergias.length > 0
                    div
                        h3.text-center Alergias
                        table.table.w-auto
                            tr
                                th Nomenclatura
                                th Importancia
                                th Inicio
                                th Fin
                            each alergia in consulta.alergias
                                tr
                                    td #{alergia.id_alergia_fk} 
                                    td #{alergia.id_importancia_fk}
                                    td #{alergia.fecha_desde} 
                                    td #{alergia.fecha_hasta}
                            else
                                p no se registraron alergias
                    hr
                if consulta.antecedentes.length > 0
                    div
                        h3.text-center Antecedentes
                        each antecedente in consulta.antecedentes
                            p descripcion: #{antecedente.descripcion}
                            p duración: Desde: #{antecedente.fecha_desde} Hasta #{antecedente.fecha_hasta}
                        else 
                            p no se registraron antecedentes
                    hr
                if consulta.habitos.length > 0
                    div
                        h3.text-center Habitos
                        each habito in consulta.habitos
                            div
                                p descripcion: #{habito.descripcion}
                                p duracion: Desde: #{habito.fecha_desde} Hasta: #{habito.fecha_hasta}
                        else
                            p no se registraron habitos
                    hr
                if consulta.medicamentos.length > 0
                    div
                        h3.text-center Medicamentos
                        each medicamento in consulta.medicamentos
                            div
                                p descripcion: #{medicamento.descripcion}
                        else
                            p no se registraron medicamentos